<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="../../css/general.css" media="all">
  </head>
  <body>
      
   <div id="c-header">
                 
   </div>
      
    <div id="global">
          
          
          <div id="header">
              <div id="logo">

              </div>
              
              <div id="navigator">
                  <ul>
                      <li><a href="#">INICIO</a></li>
                      <li><a href="#">EMPRESA</a></li>
                      <li><a href="#">SERVICIOS</a></li>
                      <li><a href="#">UBICACIÓN</a></li>
                      <li><a href="#">VIDEOS</a></li>
                      <li><a href="#">CONTACTO</a></li>
                  </ul>
              </div>
             
         </div>
          
           
        <div id="sobre">
            <a href="#"><img src="../../images/sobre.png"/></a>
        </div>
          
        <div id="banner-header">
            
            <div id="machine">
                
            </div>
            
            <div id="banner">
                
            </div>
            
            <div id="banner-footer-text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took...</p>
            </div>
        </div>  
        
         
        <div id="content">
            asd
        </div>
        
        <div class="slider">
            
             <div class="categories">

                <p>MÁQUINAS NUEVAS</p>
               
                <div class="sub-categories">

                    <ul>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                          
                    </ul>

                </div>

             </div>
        </div>
        
        <div class="slider">
            
             <div class="categories">

                <p>MÁQUINAS NUEVAS</p>

                <div class="sub-categories">

                    <ul>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                        <li><a href="#">-BATIDORAS  RÁPIDA</a></li>
                    </ul>

                </div>

             </div>
        </div>
       
        
        <div id="map">
            <img src="../../images/encontranos-aca.png"/>
        </div>

    </div>
      
    <div id="footer">

    </div>
        
  </body>
</html>
